.navbar {
    color: white;
    font-size: 1.3rem;
    letter-spacing: 1;
    font-style: italic;
    font-weight: 600;
    background-color: #161619;
    display: flex;
    justify-content: space-between;

}

.navbar>ul {
    list-style: none;
    display: flex;
    padding: 1.2rem;
    gap: 14px
}

.navbar-logo {
    width: 6.5rem;
    margin: auto;
}